<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lat_passcode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_bingopad"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_bingopad"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main4Activity"
            android:label="@string/title_activity_main4"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="splashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuSplashActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PasscodeActivity" />
        <activity
            android:name=".RomanceActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".romance.RomanceDuaActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".romance.RomanceSatuActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".romance.RomanceTigaActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".romance.RomanceEmpatActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".romance.RomanceLimaActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".romance.RomanceEnamActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".romance.RomanceTujuhActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HorrorActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".horror.HorrorSatuActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".horror.HorrorDuaActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".horror.HorrorTigaActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".horror.HorrorEmpatActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".horror.HorrorLimaActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".horror.HorrorEnamActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FictionActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".fiction.FictionSatuActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".fiction.FictionDuaActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".fiction.FictionTigaActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".fiction.FictionEmpatActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".fiction.FictionLimaActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".fiction.FictionEnamActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".action.ActionSatuActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".action.ActionDuaActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".action.ActionTigaActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".action.ActionEmpatActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".action.ActionLimaActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".action.ActionEnamActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ActionActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>